* {margin:0;padding:0;box-sizing:border-box;}
img { width:300px;}
body {
	background-color: #fff;
	color: #000;
	font-family: "Courier New", monospace;
	font-size: 16px;
}
section {
	padding: 5em 0;
}
h1 {
	font-family: 'Caveat Brush', cursive;
	font-size: 3em;
}
h3 {
	font-size: 1.25em;
	letter-spacing: 1.5px;
}
h4 {
	letter-spacing: 1.5px;
}
#intro {
	background:url("http://i.imgur.com/GqWMJQm.jpg");
	background-size: cover;
	padding: 05em 0 0;
	height: 80vh;
	color: #fff;
}
#cta {
	color: #FF8996;
	text-decoration: none;
}
#featured {
	text-align: center;
}
#previousInterviews {
	text-align: center;
}
hr {
	color: #000;
	border: none;
	width: 600px;
}
p {
	min-width: 450px;
	max-width: 650px;
	text-align: center;
	margin:0px auto;
}
/* floats will be covered in unit 6 */
/*.logo {
    float: left;}*/

nav {
    float: right;
    color: #fff;
    text-decoration: none;
    font-size: 1.25em;
    letter-spacing: 1.5px;
}
nav a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
footer {
	font-size: 2em;
}