* {margin:0;padding:0;box-sizing:border-box;}
img { width:300px;}
body {
	background-color: #fff;
	color: #000;
	font-family: "Courier New", monospace;
	font-size: 16px;
}
#desc {
	padding-top: 2em;
}
section {
	padding: 5em 0;
}
h1,h3,h4 {
	background-color: rbga(100,125,125,.5);
}
h1 {
	font-family: 'Caveat Brush', cursive;
	font-size: 3em;
}
h3 {
	font-size: 1.25em;
	letter-spacing: 1.5px;
}
h4 {
	letter-spacing: 1.5px;
}
#intro {
	background:url("http://i.imgur.com/GqWMJQm.jpg");
	background-size: cover;
	padding: 04em 0 0 1.5em;
	height: 90vh;
	color: #fff;
}
#cta {
	color: #FF8996;
	text-decoration: none;
}
#wrapper {
	padding: 1.2em;
	border: 18px black;


}
#featured {
	text-align: center;
}
#previousInterviews {
	text-align: center;
}
#climbersChoice {
	text-align: center;
}


p {
	min-width: 450px;
	max-width: 650px;
	text-align: center;
	margin:0px auto;
}
/* floats will be covered in unit 6 */
/*.logo {
    float: left;}*/

nav {
    text-align: center;
    color: #000;
    text-decoration: none;
    font-size: 1.25em;
    letter-spacing: 1.5px;
    border: solid black;

}
nav a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
footer {
	font-size: 2em;
}

.info {
	display: inline-block;
	padding-bottom: 2em;
}
.moreinfo {
	display: inline-block;
	padding-bottom: 2em;
}
.evenmore {
	display: inline-block;
}
.muchmore {
	display: inline-block;
}
#intro-text{
	background-color: rgba(0, 0, 0, 0.2);
	width: 50%;
	padding-left: 20px;
	border-radius: 40px;
	padding-bottom: 20px;
}

.facebook-icon{
	width: 5.5%;
}
.email-icon {
	width: 5%;
}
.instagram-icon {
	width: 5%;
	padding-top: 30px;
}