* {margin:0;padding:0;box-sizing:border-box;}
img { width:300px;}
body {
	background-color: #000;
	color: #fff;
	font-family: "Courier New", monospace;
}
section {
	padding: 5em 0;
}
h1 {
	font-size: 200%;
}

#intro {
	background:url("http://i.imgur.com/GqWMJQm.jpg");
	background-size: cover;
	padding: 05em 0 0;
	height: 100vh;
}
#cta {
	color: #D488FF;
}

/* floats will be covered in unit 6 */
.logo {
    float: left;
}
nav {
    float: right;
    color: #fff;
    text-decoration: none;
}
nav a {
	color: #fff;
	text-decoration: none;
}